.f24{
	font-size: 24px;	
}
.ml20{
	margin-left: 20px!important;
}
.ml15{
	margin-left: 15px!important;
}
.pt15{
	padding-top: 15px!important;
}
.pln{
	padding-left: 0px!important;
}
.mt45{
	margin-top: 45px!important;
}
.position-relative{
	position: relative;
}
.p10{
	padding: 10px!important;
}
.p20{
	padding: 20px!important;
}
.h60{
	height: 60px;
}
.mv5{
	margin: 5px 0!important;
}
.mr15{
	margin-right: 15px!important;
}
.mt30{
	margin-top: 30px!important;
}
.mt50{
	margin-top: 50px!important;
}
.mt10{
	margin-top: 10px!important;
}
.mhn{
	margin-left: 0px;
	margin-right: 0px;
}
.phn{
	padding-left: 0px;
	padding-right: 0px;
}
.ph5{
	padding-left: 5px!important;
	padding-right: 5px!important;
}
.white-bg{
	background: #fff;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #A37042!important;
	border-color: #A37042!important;
}
.pagination>li>a, .pagination>li>span{
	color: #A37042!important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	color: #fff!important;
}
.pagination>li>a, .pagination>li>span a{
	color: #A37042!important;
}